debug: true
server:
  port: 8080
spring:
  output:
    ansi:
      enabled: always
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${PG_URL}
    username: ${PG_USR}
    password: ${PG_PWD}
  jpa:
#    show-sql: true
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
#        format_sql: true
logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: ERROR
